# Global Settings
PROJECT_DOMAIN=вашдомен.ru
LETSENCRYPT_EMAIL=admin@вашдомен.ru

# Basic Auth (user:admin, password:password)
# Generate: echo $(htpasswd -nb admin password) | sed -e s/\\$/\\$\\$/g
BASIC_AUTH_USER_HASH=admin:$$apr1$$869p9Oqy$$6vR9.S8p9Of.pS.WJpSfU/

# Postgres Infrastructure
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo123

# Projects Database Management
# Format: DB1:USER1:PASS1,DB2:USER2:PASS2
POSTGRES_MULTIPLE_DATABASES=p1_db:p1_user:p1_pass,p2_db:p2_user:p2_pass
