# Global Settings
PROJECT_DOMAIN=вашдомен.ru
LETSENCRYPT_EMAIL=admin@вашдомен.ru

# Basic Auth (user:admin, password:password)
# Generate: echo $(htpasswd -nb admin password) | sed -e s/\\$/\\$\\$/g
BASIC_AUTH_USER_HASH=admin:$$apr1$$869p9Oqy$$6vR9.S8p9Of.pS.WJpSfU/

# Postgres
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo123

# Проекты (пример)
PROJECT1_NAME=project1
PROJECT1_DOMAIN=project1.вашдомен.ru
PROJECT1_DB=project1
PROJECT1_APP_USER=project1_app
PROJECT1_APP_PASS=p1_secure123

PROJECT2_NAME=project2
PROJECT2_DOMAIN=project2.вашдомен.ru
PROJECT2_DB=project2
PROJECT2_APP_USER=project2_app
PROJECT2_APP_PASS=p2_secure123
